<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">RentDrive</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/catalogo">Catálogo</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/reservas">Mis Reservas</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/login">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container mt-5">

  <!-- BOTÓN VOLVER -->
  <button class="btn btn-secondary mb-3" routerLink="/catalogo">
    <i class="fa-solid fa-arrow-left"></i> Volver
  </button>

  <!-- CARD DE DETALLES -->
  <div class="card shadow-lg p-4">

    <h2 class="mb-4 text-center">Detalles del Vehículo</h2>

    <div class="row">

      <!-- IMAGEN DEL VEHÍCULO -->
      <div class="col-md-5 text-center">
        <img 
          [src]="vehiculo.imagen" 
          alt="Vehículo" 
          class="img-fluid rounded border"
        >
      </div>

      <!-- INFORMACIÓN -->
      <div class="col-md-7">

        <ul class="list-group list-group-flush fs-5">

          <li class="list-group-item">
            <i class="fa-solid fa-car-side text-primary"></i>
            <strong> Marca:</strong> {{ vehiculo.marca }}
          </li>

          <li class="list-group-item">
            <i class="fa-solid fa-tag text-primary"></i>
            <strong> Modelo:</strong> {{ vehiculo.modelo }}
          </li>

          <li class="list-group-item">
            <i class="fa-solid fa-calendar text-primary"></i>
            <strong> Año:</strong> {{ vehiculo.anio }}
          </li>

          <li class="list-group-item">
            <i class="fa-solid fa-dollar-sign text-primary"></i>
            <strong> Precio diario:</strong> S/. {{ vehiculo.precioDiario }}
          </li>

          <li class="list-group-item">
            <i class="fa-solid fa-users text-primary"></i>
            <strong> Asientos:</strong> {{ vehiculo.asientos }}
          </li>

          <li class="list-group-item">
            <i class="fa-solid fa-car text-primary"></i>
            <strong> Tipo vehículo:</strong> {{ vehiculo.tipoVehiculo }}
          </li>

          <li class="list-group-item">
            <i class="fa-solid fa-gears text-primary"></i>
            <strong> Transmisión:</strong> {{ vehiculo.transmision }}
          </li>

          <li class="list-group-item">
            <i class="fa-solid fa-gas-pump text-primary"></i>
            <strong> Combustible:</strong> {{ vehiculo.combustible }}
          </li>

        </ul>

    <button 
        class="btn btn-success mt-3"
        [routerLink]="['/reserva', vehiculo.idVehiculo]">
        <i class="fa-solid fa-calendar-check"></i> Hacer reserva
    </button>

      </div>
    </div>
  </div>

  <hr class="my-4">

  <!-- Similares -->
  <h4>Vehículos similares</h4>

  <div class="row">

    <div class="col-md-3" *ngFor="let v of similares">
      <div class="card shadow-sm mb-4">

        <img 
          [src]="v.imagen" 
          class="card-img-top">

        <div class="card-body">
          <h5 class="card-title">{{ v.marca }} {{ v.modelo }}</h5>
          <p class="card-text">S/ {{ v.precioDiario }} por día</p>

          <button 
            class="btn btn-primary btn-sm"
            [routerLink]="['/catalogo', v.idVehiculo]">
            Ver detalles
          </button>
        </div>

      </div>
    </div>

  </div>


</div>

<!-- FOOTER -->
<footer class="bg-dark text-white text-center py-3 mt-5">
  <p class="mb-0">&copy; 2025 RentDrive. Todos los derechos reservados.</p>
</footer>



