@charset "UTF-8";
body {
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

.perfil-card, .historial-card {
    border-radius: 15px;
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn-success {
    border-radius: 25px;
    padding: 8px 20px;
    font-weight: 600;
}

.table thead {
    background-color: #f1f1f1;
}
